.nav{
    width: 286px;
    height: 786px;
    margin-right: 14px;
    padding: 36px 16px 40px;
    background: $main-bg-color;

    &-tags__button{
        display: none;
    }

    &__wrapper{
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid #ececec;
    }

    &__title{
        margin-left: 12px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.54;
        text-transform: uppercase;
        color: $accent-color;
    }


    &__list{
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.38;
        color: $main-color;
    }

    &__item{
        position: relative;
        &::before{
            display: block;
            content: '';
            background-image: url("/assets/arrow.png") ;
            background-repeat: no-repeat;
            width: 10px;
            height: 14px;
            position: absolute;
            top: 4px;
            right: 0;
        }

        &:not(:last-child){
            margin-bottom: 14px;
        }

        &--active{
            color: $accent-color;
                    &::before {
                            display: block;
                            content: '';
                            background-image: url("/assets/green-arrow.png");
                            background-repeat: no-repeat;
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            top: 8px;
                            right: 0;
                        }
        }
        
    }

    &__tags{
        width: 194px;
    }

    &-menu{
        padding: 20px 0 30px;
        border-bottom: 1px solid #ececec;

       &__item{
            &:nth-child(4) {
                color: $accent-color;
                background: rgba(37, 150, 9, 0.15);
                border-radius: 3px;
            }
       }

        &__list{
            margin: 20px 0 0 0 !important; 
            font-weight: 400;
            font-size: 14px;
            line-height: 1.57;
            color: $main-color;
        }

        
        &__link{
            padding: 12px 8px 12px 12px;
            display: block;
            width: 100%;

            &:hover {
                color: $main-color;
                background: #F2F2F2;
                border-radius: 3px;
            }
        }

        &__button{
            text-align: start;
            border: none;
            background: inherit;

            &--active {
                color: $accent-color ;
            }

            &:hover,
            &:focus{
                color: $accent-color;
            }
        }
    }

    &__button{
        width: 100%;
        margin-top: 34px;
        padding: 16px 0 12px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: $accent-color;
        background: $main-bg-color;
        border: 1px solid $accent-color;

        &:hover,
        &:focus{
            color: $second-color;
            background: $accent-bg-color;
        }
    }

}


@media (min-width: 320px) and (max-width: 767px) {
    .nav{
        height: auto;
        width: 100%;
        padding: 16px 0 20px;
        &-menu,&__button,&__wrapper{
            display: none;
        }

        &-tags__button{
            position: relative;
            display: block;
            width: 100%;
            padding: 16px 26px 14px ;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.38;
            align-items: center;
            text-transform: uppercase;
            color: #000000;
            background: #F1F1F1;
            border-radius: 3px;

            &::before{
                content: '';
                background-image: url("/assets/arrow.png");
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
                position: absolute;
                top: 20px;
                right: 24px;
            }

            &::after{
                content: '';
                background-image: url("/assets/icon_education_type.png");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 16px;
                left: 24px;
            }
        }
    }
}